body{
    background-color:#000;
    font-family: "微软雅黑";
    /*position: relative;*/
}
/*我的账户 顶部*/
.top{
    width: 100%;
    height: 180px;
    background:url(/images/banner_heiban.jpg);/*#E0E0E0;#aaa; */
}
.datum{
    width: 100%;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height:40px;

}
/*个人资料入口图标*/
.user{
    left:0;
    display:block;
    font-size: 30px;
    color:#000;
    position: absolute;
    padding: 10px;
}
/*我的资产与收益*/
.property{
    margin-top: 20px;
    width: 100%;
    height:80px;
    /*background:#8E8E8E;*/
}
.property div{
    float: left;
    width: 49%;
    text-align: center;
}
.property div span{
    display: block;
    line-height: 30px;
    color: #F75000;
    font-family: "微软雅黑";
    font-size: 20px;
}
.rate{
    text-align: center;
}
.rate span{
    display: block;
    width: 80%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
    background: #E0E0E0;
    color: #F75000;
    font-family: "微软雅黑";
    border-radius:5px;
}

/*菜单*/
.memu{
    background:#FCFCFC;
    /*margin-top: 10px;*/
}
.memu ul li{
    list-style-type: none;
    width: 100%;
    height: 35px;
    border-top: 1px solid #ccc;

}
.memu ul li div{
    display: block;
    height: 35px;
    line-height: 34px;
    font-family: "微软雅黑";
    color:#000;
}
.memu ul li div span{
    display: block;
    float: left;
    padding: 0 10px;
}
.memu .jian{
    display: block;
    position: absolute;
    right:15px;
}
.memu-two{
    margin-top: 20px;
}

/*-----------------个人中心----------------------------------*/
.datum-main{
    width: 100%;

    position: absolute;
}
.title{
    width: 100%;
    height: 50px;
    background: #FFA042;
    text-align: center;
    line-height: 48px;
    font-family: "微软雅黑";
    /*position: fixed;*/
    position: fixed;
    color: #fff;
    font-size: 16px;
    z-index: 1002;
    /*opacity: 0.8;*/
}
.back{
    position:absolute;
    left: 5px;

}
.memu-datum{
    margin-top: 50px;
    font-size: 14px;
}
.memu-fatum-two{font-size: 14px;}
.memu-datum .jian i{
    font-size: 30px;
}

.quit{
    text-align: center;
    margin-top:20px;
}
.quit span{
    display: block;
    width: 80%;
    height: 30px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 30px;
    background: #FF5809;
    color: #fff;
    font-family: "微软雅黑";
    border-radius:10px;
}

/*修改密码*/
.change-password{
    width: 100%;
    position: absolute;
    color:#7B7B7B;
    font-size: 14px;
    font-family: "微软雅黑";
    display: none;
}
.xiugai{
    margin-top: 50px;
    padding-bottom: 20px;
}
.primary{
    width: 100%;
    line-height: 30px;
    background: #fff;
    margin-top: 70px;
    padding-left: 10px;
}
.primary:nth-child(2){
    margin-top: 10px;
}
.primary:nth-child(3){
    margin-top: 0;
    border-top: 1px solid #E0E0E0;
}
.primary input, .input{
    border: none;
    background: transparent;
    width: 60%;
    height: 30%;
    outline: none;
    font-size: 1em;
    font-family: "Microsoft YaHei";
    color: #b3b3b3;
    letter-spacing: 1px;
    padding-left: 15px;
}


/*我的账单*/
.bill{
    padding-bottom: 50px;
    display: none;
    width: 100%;
    position: absolute;
}
.bill-main{
    margin-top: 50px;
}
.bill-main ul li{
    display: block;
    padding-left: 10px;
    width: auto;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    font-family: "微软雅黑";
    font-size: 12px;
    position: relative;
}

.bill-main ul li span:nth-child(1){
    font-size: 24px;
    color: #FF5809;
}
.bill-main ul li span:nth-child(2){
    display: inline-block;
    font-size: 24px;
    color: green;
    margin-left: 20px;
    margin-right: 20px;
    width: 30%;

}
.bill-main ul li span:nth-child(3){
    display: block;
    height: 25px;
    line-height: 25px;
    color: #d0d0d0;
    font-size: 14px;
    position: absolute;
    right: 10px;
    top: 0;
}
.bill-main ul li span:nth-child(4){
    display: block;
    height: 25px;
    line-height: 25px;
    color: #d0d0d0;
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 0;
}




/*遮罩层*/
.shade{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #7A7A7A;
    opacity: 0.7;
    z-index: 1000;
    left: -1px;
    top:1px;
}
.shade-hei img{
    position: absolute;
    top:30%;
    width: 100%;
}

/*提示框*/
.hint{
    width: 60%;
    height:30px;
    text-align: center;
    line-height: 30px;
    background: 	#000;
    opacity:0.6;
    color:#fff;
    font-size: 14px;
    font-family: "微软雅黑";
    border-radius: 10px;
    position: absolute;
    top: 60%;
    left:20%;
    display: none;
}

/*绑定银行卡*/
.binding,.fund{
    display:none;
    width: 100%;
    position: absolute;
}
.binding-main{
    margin-top: 50px;
}
.binding-msg{
    display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 10px;
    color:#CCCBD9;
    font-size: 12px;
}
.binding-main ul li{
    width: auto;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid  	#F0F0F0;
    background: #fff;
    font-size: 14px;
    padding-left:10px;
}
.binding-main ul li span{
    display: block;
    float: left;
}
.binding-main ul li span:nth-child(1){
    width: 25%;
    color: 	#7B7B7B;

}
.binding-main ul li span:nth-child(3){
    padding:0 5px;
    font-size: 14px;
    color:#FF2D2D;
}
.binding-main ul li span:nth-child(2){
    /*width: 40%;*/
    margin-left: 0px;
    color: #ADADAD;
}
.binding .input{
    padding-left: 0;
    width: auto;
}

/*总资产*/
.fund-main{
    margin-top: 50px;
}
.fund .fund-earnings{
    width: 150px;
    height: 150px;
    border: 18px solid #FF69B4;
    border-radius:100px;
    text-align: center;
    line-height: 150px;
    margin: 70px auto 0;
}
.fund .fund-earnings span{
    display: block;
    height: 20px;
    color: 	#808080;
}
.fund ul{
    margin-top: 10%;
}
.fund ul li{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-top: 1px solid #DCDCDC;
    background: #F5F5F5;
}
.fund ul li span:nth-child(2){
    position: absolute;
    left:30px;
}
.fund ul li span:nth-child(3){
    position: absolute;
    right: 20px;
}
.dot{
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 10px;
    background: #666;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 15px;
}

/*充值*/
.recharge{
    display: none;
}
.recharge-main{

    width: 100%;
    margin-top: 50px;
    position: absolute;
}
.recharge-main ul li{
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-top: 1px solid  	#F0F0F0;
    background: #fff;
    font-size: 14px;
    padding-left:10px;
}
.recharge-main ul li span{
    display: block;
    float: left;
}
.recharge-main ul li span:nth-child(1){
    width: 25%;
    color: 	#7B7B7B;
}

.recharge-main ul li span:nth-child(3){
    color: 	#7B7B7B;
    position: absolute;
    right: 20px;
}
.recharge-main input{
    padding: 0;
    width: auto;
}


/*我的投资项目*/
.project{
    display: none;
    width:100%;
    position: absolute;
}

.project-nav{
    margin-top: 50px;
    width:100%;
    height: 40px;
    background:#FFA042 ;
    text-align: center;
}

.project-nav ul{
    width: 80%;
    height: 30px;
    margin-left: 10%;
}

.project-nav-li{
    float: left;
    width: 35%;
    height: 35px;
    line-height: 35px;
    margin-left: 10%;
    color: #fff;
    font-size: 14px;
}
.project-nav-check{
    background: #F5F5F5;
    color: #FFA042;
    border-radius: 8px;
}



/*主页*/
.account-main{
    margin-bottom: 50px;
}