/* CSS Document */
@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    -webkit-appearance: none;}
a{ text-decoration:none;}
body{
    width:100%;
    max-width:640px;
    margin:0 auto;
    background:#eeeeee;
    top:0px; bottom:0px; left:0px; right:0px;
    min-width:320px;}
.banner{}
.banner img{
    width:100%;
    max-width:640px;
    margin:0 auto;
}
.main{
    margin-top:15%;
    width:100%;
    max-width:640px;}
.main ul{
}
.main ul li{
    float:left;
    width:33%;
    max-width:230px;
    margin:0 auto;
    padding:4% 0;
    /*margin-top:5%;
    margin-left:8%;*/
}
.border{border-bottom:1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;}
.border_bottom{
    border-bottom:1px solid #d2d2d2;}
.border_right{
    border-right:1px solid #d2d2d2;
}
.main ul li img{
    width:100%;}
.main ul li p{
    text-align:center;
    color:#5b595a;}
.main ul li p span{
    clear:both; display:
        block; padding:0px 10px;
    line-height:30px; font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center}

.foot{
    color:#838383;
    line-height:130px;
    /*margin-top:95%;*/
    /*width:100%;
    margin:0 auto;*/
    text-align:center;
}

/*底部导航栏*/
.nav{
    max-width:640px;
    background: #009c39;
    position:fixed;
    width:100%;
    height:50px;
    bottom:0;
    z-index:100 ;
}
.nav li{
    float: left;
    height: 50px;
    width:33%;
    list-style-type: none;
    text-align: center;

}
.nav li span{
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 18px;
}
.nav li span i{
    font-size:26px;
    line-height: 30px;
}
.this{
    color: #f00;
}


/*我的账户 顶部*/
.top{
    max-width:640px;
    position:fixed;
    width: 100%;
    height: 50px;
    background-color: #F75000;/*#E0E0E0;#aaa; */
    background-size:100%;
    z-index:100 ;
}
.datum{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    line-height:50px;
}
.user{
    left:0;
    display:block;
    font-size: 30px;
    position: absolute;
    padding: 10px;
    color: white;
}
/*C:\Program Files\TortoiseGit\bin\TortoiseGitPlink.exe*/

@charset "utf-8";
/*!
 * pull to refresh v2.0
 *author:wallace
 *2015-7-22
 */
#wrapper {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    max-width:640px;
}
.project{
    border-top: solid 3px #E8E8D0;
    background: #FFFFFF;
    width: 100%;
    max-width: 640px;
    height: 120px;
}
.title{
    font-weight: bold;
    font-family: "微软雅黑 Light";
    border-bottom: #F0F0F0 1px solid;
    font-size: 18px;
    width: 100%;
    max-width: 640px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    text-indent: 1em;
}

a{color:black}
.cent{
    width: 100%;
    max-width: 640px;
    height: 80px;
}
.data{
    width: 100%;
    max-width: 640px;
    height: 40px;
    line-height: 40px;
}
.trem{
    text-indent: 2em;
    float: left;
    width: 30%;
    height: 40px;
    display: block;
    font-size: 18px;
    color: #F75000;
    text-align: left;
}
.font{
    float: left;
    width: 35%;
    height: 40px;
    display: block;
    font-size: 16px;
}
.name{
    width: 100%;
    max-width: 640px;
    height: 40px;
    line-height: 40px;
}
.lv{
    text-indent: 0.5em;
    float: left;
    width: 30%;
    height: 40px;
    display: block;
    color: #9D9D9D;
    font-size: 13px;
    text-align: left;
    /*margin-right: 5%;*/
}
.nv{
    float: left;
    width: 35%;
    height: 40px;
    display: block;
    color: #9D9D9D;
    font-size: 13px;
    text-align: center;
}
.scroller {
    position: absolute;
    z-index: 1;
    /*	-webkit-touch-callout:none;*/
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    padding: 0;
}
.scroller ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}
.scroller li {
    min-height:70px;
    background-color: #fafafa;
    font-size: 14px;
    padding:5px;
}
.pullDown, .pullUp {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #888;
    font-family: Arial, Microsoft YaHei;
} .pullUp{ display:block;}
.loader {
    display: inline-block;
    font-size: 0px;
    padding: 0px;
    display: none;
}
.loader span {
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 2px;
    -webkit-animation: loader 0.8s linear infinite alternate;
    animation: loader 0.8s linear infinite alternate;
}
.loader span:nth-child(1) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.6);
}
.loader span:nth-child(2) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(3) {
    -webkit-animation-delay: -0.26666s;
    animation-delay: -0.26666s;
    background: rgba(245, 103, 115,1);
}
.loader span:nth-child(4) {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
    background: rgba(245, 103, 115,0.8);
}
.loader span:nth-child(5) {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
    background: rgba(245, 103, 115,0.4);
}
@keyframes loader {
    from {
        transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
    }
}
@-webkit-keyframes loader {
    from {
        -webkit-transform: scale(0, 0);
    }
    to {
        -webkit-transform: scale(1, 1);
    }
}

