/* CSS Document */
@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
input[type="button"],
input[type="submit"],
input[type="reset"]
{
    -webkit-appearance: none;}
a{ text-decoration:none;}
body{
    width:100%;
    max-width:640px;
    margin:0 auto;
    background:#eeeeee;
    top:0px; bottom:0px; left:0px; right:0px;
    min-width:320px;}
.banner{}
.banner img{
    width:100%;
    max-width:640px;
    margin:0 auto;
}
.main{
    margin-top:15%;
    width:100%;
    max-width:640px;}
.main ul{
}
.main ul li{
    float:left;
    width:33%;
    max-width:230px;
    margin:0 auto;
    padding:4% 0;
    /*margin-top:5%;
    margin-left:8%;*/
}
.border{border-bottom:1px solid #d2d2d2;
    border-right:1px solid #d2d2d2;}
.border_bottom{
    border-bottom:1px solid #d2d2d2;}
.border_right{
    border-right:1px solid #d2d2d2;
}
.main ul li img{
    width:100%;}
.main ul li p{
    text-align:center;
    color:#5b595a;}
.main ul li p span{
    clear:both; display:
        block; padding:0px 10px;
    line-height:30px; font-size:16px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center}

.foot{
    color:#838383;
    line-height:130px;
    /*margin-top:95%;*/
    /*width:100%;
    margin:0 auto;*/
    text-align:center;
}

/*底部导航栏*/
.nav{
    max-width:640px;
    background: #009c39;
    position:fixed;
    width:100%;
    height:50px;
    bottom:0;
    z-index:100 ;
}
.nav li{
    float: left;
    height: 50px;
    width:33%;
    list-style-type: none;
    text-align: center;

}
.nav li span{
    display: block;
    color: #fff;
    font-size: 14px;
    font-family: "微软雅黑";
    line-height: 18px;
}
.nav li span i{
    font-size:26px;
    line-height: 30px;
}
.this{
    color: #f00;
}


/*我的账户 顶部*/
.top{
    max-width:640px;
    position:fixed;
    width: 100%;
    height: 50px;
    background-color: #F75000;/*#E0E0E0;#aaa; */
    background-size:100%;
    z-index:100 ;
}
.datum{
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;
    line-height:50px;
}
.user{
    left:0;
    display:block;
    font-size: 30px;
    position: absolute;
    padding: 10px;
    color: white;
}
/*C:\Program Files\TortoiseGit\bin\TortoiseGitPlink.exe*/


